@forward "base";
@forward "abstracts";
@forward "layout";
@forward "components";

.cards__child {
	h3 {
		color: var(--clr-accent-200);
	}
}

.cards__child h3 {
	padding-inline-start: 1.5rem;
	border-radius: 2rem 0 1rem 0.4rem;
	background: rgb(228, 228, 220);
	background: linear-gradient(
		-90deg,
		rgba(242, 243, 204, 1),
		rgba(108, 132, 131) 35%,

		rgb(51, 65, 64) 100%
	);
}

.list__js {
}
