footer {
	background-color: var(--clr-primary-400);
	padding-inline: 2rem;
	padding-block: 1rem;
	margin-block-start: 10rem;
	bottom: 0;
}

.footer__main__container {
	align-items: center;
	text-align: center;
}

.footer__contact__socials p {
	align-self: center;
	color: var(--clr-primary-200);
	font-size: var(--step--2);
}

.footer__arrow {
	// border: solid 0.125rem var(--clr-primary-200);
	// border-width: 0px 3px 3px 0;
	// display: inline-block;
	// padding: 3px;
	background: url(../assets/svg/arrowright.svg);
	display: block;
	width: 1rem;
	height: 1rem;
}

@media screen and (max-width: 31rem) {
	.footer__hider {
		visibility: hidden;
	}
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
	// transform: rotate(-45deg);
	// -webkit-transform: rotate(-45deg);
	// -moz-transform: rotate(-45deg);
}

@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateX(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateX(-6px);
		transform: translateY(-6px);
	}
	60% {
		-moz-transform: translateX(-2px);
		transform: translateY(-2px);
	}
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	60% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-moz-transform: translateX(-6px);
		-ms-transform: translateX(-6px);
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	60% {
		-moz-transform: translateX(-2px);
		-ms-transform: translateX(-2px);
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
}
