// <----- CSS variables to set colors ----->
:root {
	--clr-primary-100: hsl(0, 0%, 100%);
	--clr-primary-200: hsla(60, 13%, 88%, 0.902);
	--clr-primary-500: hsl(178, 10%, 47%);
	--clr-primary-700: hsl(203, 30%, 26%);
	--clr-primary-900: hsl(0, 0%, 0%);

	--clr-accent-100: hsl(83, 11%, 76%);
	--clr-accent-500: hsl(60, 4%, 65%);
	--clr-accent-900: hsl(171, 33%, 30%);
}
